h1 {
    text-align: center;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox-label {
    display: inline-block;
    width: 143px; 
    height: 143px; 
    border: 8px solid #03fc7f;
    outline: 2px solid black;
    cursor: pointer;
    background-size: cover;
    margin: 2px;
}