{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeTracker Login</title>
</head>
<body>
   <p>Welcome to the pokedex page of my final project! Stay tuned for updates!</p>
   <img src="{% static 'sprites/0001-1.png' %}" alt="Bulbasaur (Uncaught)">
   <img src="{% static 'sprites/0001-2.png' %}" alt="Bulbasaur (Caught)">
   <img src="{% static 'sprites/0001-3.png' %}" alt="Bulbasaur (*Caught*)">
</body>
</html>